<div class="card-body">
    <!-- Button trigger modal -->    
  </div>
  <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
    <form  #requestForm="ngForm" (ngSubmit)="register()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add User</h4>
          <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Firstname</label>
                    <input type="text" id="firstname" name="firstname" [(ngModel)]="model.firstname"  class="form-control" placeholder="Firstname">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Lastname</label>
                    <input type="text" id="lastname" name="lastname" [(ngModel)]="model.lastname"  class="form-control" placeholder="Lastname">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Username</label>
                    <input type="text" id="username" name="username" [(ngModel)]="model.username"  class="form-control" placeholder="Username">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Email</label>  
                    <input type="email" id="email" name="email" [(ngModel)]="model.email"  class="form-control" placeholder="Email"> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Mobile</label> 
                    <input type="text" id="mobile" (keypress)="omit_special_char($event)" name="mobile" [(ngModel)]="model.mobile"  class="form-control" placeholder="Mobile">
                  </div>
                </div>  
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" (click)="infoModal.hide()">Close</button>        
          <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div bsModal #EdituserModal="bs-modal" class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
    <form  #requestForm="ngForm" (ngSubmit)="EdituserPost()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit User</h4>
          <button type="button" class="close" (click)="EdituserModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Firstname</label>
                    <input type="text" id="firstname" name="firstname" [(ngModel)]="mymodel.firstname"  class="form-control" placeholder="Firstname">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Lastname</label>
                    <input type="text" id="lastname" name="lastname" [(ngModel)]="mymodel.lastname"  class="form-control" placeholder="Lastname">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Username</label>
                    <input type="text" id="username" name="username" [(ngModel)]="mymodel.username"  class="form-control" placeholder="Username">               
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Email</label>  
                    <input type="email" id="email" name="email" [(ngModel)]="mymodel.email"  class="form-control" placeholder="Email"> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label style="padding: 7px">Mobile</label> 
                    <input type="text" id="mobile" name="mobile" [(ngModel)]="mymodel.mobile"  class="form-control" placeholder="Mobile">
                  </div>
                </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" (click)="EdituserModal.hide()">Close</button>        
          <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage User
          <button type="button" class="btn btn-info mr-1" style="float: right;" data-toggle="modal" (click)="infoModal.show()">
            Add User
          </button>
        </div>
        <div class="card-body table-responsive-sm tablecard">
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Username</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th>Mobile</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/images/User.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>{{user.username}}</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: {{user.created_at | date:'MMM d, y, h:mm a'}}
                  </div>
                </td>
                <td class="text-center">
                  {{user.firstname}} {{user.lastname}}
                </td>
                <td>
                  <div>{{user.email}}</div>
                </td>
                <td class="text-center">
                  <div>{{user.mobile}}</div>
                </td>
                <td>
                  <span class="btn btn-square btn-sm btn-danger" style="cursor: pointer;" (click)="EditUser(user._id)">Edit</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->